<template>
  <div>
    <v-app-bar color="white">
      <v-toolbar-title>
        <v-btn text color="deep-purple accent-4">
          <v-icon large>mdi-cash-multiple</v-icon>
          <span style="margin-left: 10px">Revenue</span>
        </v-btn>
      </v-toolbar-title>
      <div class="flex-grow-1"></div>
      <v-btn text color="deep-purple accent-4">
        <v-icon>mdi-google</v-icon>
        <span style="margin-left: 10px">Login With Google</span>
      </v-btn>
    </v-app-bar>
  </div>
</template>