<template>
  <div id="app">
    <v-app>
      <HeaderHome id="header-home"></HeaderHome>
      <router-view></router-view>
    </v-app>
  </div>
</template>

<script>
import HeaderHome from './components/HeaderHome.vue'

export default {
  name: 'app',
  components: {
    HeaderHome
  },
}
</script>

<style>

#app{
  /* background:#EAEBEF; */
}

#header-home{
  width: 100%;
  position: fixed;
  z-index: 99;
}

</style>
